*,
*::after,
*::before {
	box-sizing: border-box;
}

@font-face {
	font-family: "PTSerif";
	src: url("../fonts/PTSerif-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: "PTSerif";
	src: url("../fonts/PTSerif-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
  }

  @font-face {
	font-family: "PTSerif";
	src: url("../fonts/PTSerif-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
  }

  @font-face {
	font-family: "PTSerif";
	src: url("../fonts/PTSerif-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
  }

body {
	font-family: 'PTSerif', 'Times New Roma', serif;
	overflow: hidden;
	margin: 0;
	color: #22295f;
	background-color: #22295f;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: #fff59a;
	background-repeat: no-repeat;
	background-position: 50% 10em;
	background-size: 75% auto;
}

button {
	background: none;
	border: none;
	color: #fff;
}

.btn--search {
	color: #000;
	font-size: 1.5em;
}

.btn--hidden {
	pointer-events: none;
	opacity: 0;
}

.search__input {
	border: 0;
	background: transparent;
	border-radius: 0;
	-webkit-appearance: none;
}

.search__input:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}


/* Header */

.hermes-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	padding: 2.5em 2.75em 2.5em 1.5em;
	text-align: left;
}

.hermes-header__title {
	font-size: 2em;
	margin: 0;
	padding: 0 0.75em;
}

.hermes-header__side,
.search-wrap {
	margin: 0 0 0 auto;
}

/* Top Navigation Style */

.hermes-links {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
}

.hermes-links::after {
	content: '';
	position: absolute;
	top: 15%;
	left: 50%;
	width: 2px;
	height: 70%;
	opacity: 0.1;
	background: currentColor;
	transform: rotate3d(0, 0, 1, 22.5deg);
}

.hermes-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em;
}


/* Deco lines */

.decolines {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
}

.decoline {
	position: absolute;
	width: 1px;
	height: 100%;
	background: #ddd;
}

.decoline:first-child {
	right: 88em;
}

.decoline:nth-child(2) {
	right: 68em;
}

.decoline:nth-child(3) {
	right: 48em;
}

.decoline:nth-child(4) {
	right: 28em;
}

.decoline:nth-child(5) {
	right: 8em;
}

@media screen and (max-width: 40em) {
	.hermes-header {
		display: block;
		padding: 1.5em 1em 0;
		text-align: center;
	}
	.hermes-header__side {
		margin: 0 auto;
	}
	.hermes-links {
		font-size: 0.85em;
		margin: 0 auto;
	}
	.search-wrap {
		font-size: 0.85em;
		position: absolute;
		top: 2.15em;
		right: 2em;
	}
}
